@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
.footer {
  height: 70px;
  position: absolute;
  width: 100%;
}
.footer-logo {
  position: fixed;
  color: #333;
  font-size: 30px;
  left: 0;
  top: 0;
  font-weight: 800;
}
.footer-logo h2::after {
  content: 'for table';
  font-size: large;
  margin-left: 5px;
  background-color: black;
  color: aliceblue;
  border: 5px solid black;
}
.footer-foot {
  position: fixed;
  color: #333;
  font-size: 30px;
  left: 0;
  bottom: 0;
  font-weight: 800;
}
.footer-foot a {
  color: #333;
  margin-left: 7px;
  transition: all 0.5s;
}
.footer-foot a:hover {
  color: rgba(51, 32, 32, 0.707);
  margin-left: 7px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 971px) {
  .footer-foot {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .footer-foot {
    display: block;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  body {
    background-color: rgba(201, 201, 201, 0.337);
  }
  .footer-foot a {
    font-size: xx-large;
  }
}
